.clrGuide {
    position: fixed;
    top: 90%;
    right: 0;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.clrGuide span {
    position: relative;
    padding: 10px 15px;
    font-family: 'Arial';
    font-weight: 600;
    font-size: 13px;
    padding: 20px 24px;
    border-radius: 50%;
    text-align: center;
}  

.clrGuide span:not(:last-child) {
    margin-bottom: 20px;
}

.clrGuide span span {
    position: absolute;
    top: 80%;
    left: 10%;
    transform: translate(-50%, -50%);
    padding: 3px 6.5px;
    /* border: solid 3px var(--white); */
    font-size: 11px;
}

.bgclr-primary {background-color: var(--clr-primary); color: var(--black); }
.bgclr-secondary {background-color: var(--clr-secondary); color: var(--white); }
.bgclr-tertiary {background-color: var(--clr-tertiary); color: var(--white); }
.bgclr-accent {background-color: var(--clr-accent); color: var(--white); }

/* .bgTxt1, .bgTxt2, 
.bgTxt3 {background-color: var(--white); color: black;}
.bgTxt4 {background-color: red; background-color: var(--clr-primary);} */