/** =========================================== */
/** COLOUR GUIDE 
/** =========================================== */
.clrGuide {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.clrGuide span {
    position: relative;
    padding: 10px 15px;
    font-family: 'Arial';
    font-weight: 600;
    font-size: 13px;
    padding: 20px 24px;
    border-radius: 50%;
    text-align: center;
}  

.clrGuide span:not(:last-child) {
    margin-bottom: 20px;
}

.clrGuide span span {
    position: absolute;
    top: 80%;
    left: 10%;
    transform: translate(-50%, -50%);
    padding: 3px 6.5px;
    /* border: solid 3px var(--white); */
    font-size: 11px;
}

.bgclr-primary {background-color: var(--clr-primary); color: var(--white); }
.bgclr-secondary {background-color: var(--clr-secondary); color: var(--white); }
.bgclr-tertiary {background-color: var(--clr-tertiary); color: var(--white); }
.bgclr-accent {background-color: var(--clr-accent); color: var(--white); }

.bgTxt1, .bgTxt2, 
.bgTxt3 {background-color: var(--white); color: black;}
.bgTxt4 {background-color: var(--clr-primary);}

/** =========================================== */
/** CUSTOM VARIABLES
/** =========================================== */

:root {
    /* Colours */
    --black: #111111;
    --white: #ffffff;
    --antique: #eeeeee;
    --clr-primary: #314455;
    --clr-secondary: #644E5B;
    --clr-tertiary: #9E5A63;
    --clr-accent: #97AABD;

    /* Fonts */
    --ff-main: 'Playfair Display', serif;
    --ff-body: 'Lato', sans-serif;

    /* Font Weights */
    --fw-normal: 400;
    --fw-semibold: 600;
    --fw-bold: 800;

    /* Spacing */
    --space-tiny: 2px;
    --space-small: 10px;
    --space-medium: 20px;
    --space-large: 50px;
}

/** =========================================== */
/** BASE
/** =========================================== */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/main-bg.jpg);
    background-position: center;
    background-size: cover;
}

.i {
    max-width: 960px;
    margin: 0 auto;
}

/* Colours */
.bgclr-pr {
    background: var(--clr-primary);
}

/* Margin */
.margint_medium {margin-top: var(--space-medium);}
.margint_large {margin-top: var(--space-large);}
.marginb_medium {margin-bottom: var(--space-medium);}
.marginb_large {margin-bottom: var(--space-large);}

/** =========================================== */
/** TYPOGRAPHY
/** =========================================== */

h1 {
    font-size: 50px;
    letter-spacing: 1px;
    text-align: center;
    font-family: var(--ff-main);
    font-weight: var(--fw-normal);
}

/** =========================================== */
/** NAV BAR 
/** =========================================== */

header {
    background: none;
    padding: 2em;
    font-family: var(--ff-main);
}

header a {
    color: var(--black);
    text-decoration: none;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Logo in Header */
.main-nav .logo {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: var(--fw-semibold);
    letter-spacing: 1px;
}

/* Nav list items */
.main-nav ul li {
    display: inline-block;
    list-style: none;
}

.main-nav ul li:not(:last-child) {
    margin-right: 20px;
}

.main-nav ul li a {
    position: relative;
    z-index: 9;
    font-size: 18px;
}

.main-nav ul li a::before {
	position: absolute;
	content: "";
	bottom: -2px;
	left: 4px;
	width: 100%;
	height: 1px;
	background: var(--white);
	opacity: 0;
    transition: all .3s ease-in-out;
    z-index: -1;
}

.main-nav ul li a.active::before,
.main-nav ul li a:hover::before {
    bottom: 2px;
	background: teal;
	height: 8px;
    opacity: .5;
}

.main-nav ul li:nth-child(2) a.active::before,
.main-nav ul li:nth-child(2) a:hover::before {
    background: coral;
}

.main-nav ul li:nth-child(3) a.active::before,
.main-nav ul li:nth-child(3) a:hover::before {
    background: palevioletred;
}

.main-nav ul li:nth-child(4) a.active::before,
.main-nav ul li:nth-child(4) a:hover::before {
    background: purple;
}

.main-nav ul li:nth-child(5) a.active::before,
.main-nav ul li:nth-child(5) a:hover::before {
    background: slateblue;
}

/** =========================================== */
/** CONTAINER 
/** =========================================== */

.container {
    /* background: pink; */
    min-height: 90vh;
}

/** =========================================== */
/** THE PLAYGROUND 
/** =========================================== */

.php-playground {
    position: relative;
    background: var(--white);
    border-radius: 10px;
    border: solid 1px rgba(0,0,0,.1);
    min-height: 600px;
    background: var(--antique);
    box-shadow: 0px 16px 34px -23px rgba(0,0,0,0.75);
    padding: var(--space-medium);
    font-size: 14px;
    font-family: var(--ff-body);
}

/* Updater */
.update p {
    position: absolute;
    bottom: 8px;
    right: 8px;
    color: rgba(0,0,0,.5);
    font-family: var(--ff-body);
}