/** =========================================== */
/** CUSTOM VARIABLES
/** =========================================== */
:root {
    /* Colours */
    --blue: #1e90ff;
    --white: #ffffff;
    --clr-primary: #314455;
    --clr-secondary: #644E5B;
    --clr-tertiary: #9E5A63;
    --clr-accent: #97AABD;

    /* Fonts */
    --ff-main: 'Playfair Display', serif;
    --ff-body: 'Lato', sans-serif;  
}

/** =========================================== */
/** NAV BAR 
/** =========================================== */