header {
    background: $lightgrey;
    padding: 2em;
    border-bottom: solid 1px $black;

    & .main-nav {
        display: flex;
        justify-content: space-between;
        font-family: $ff-primary;

        & .logo {
            font-weight: $fw-bold;
            font-size: 23px;
            text-decoration: none;
            color: $black;

            &:hover {
                color: red;
            }
        }

        & ul li {
            display: inline-block;

            &:not(:first-child) {   
                margin-left: 15px;
            }
            
            & a {
               text-decoration: none;
               font-weight: $fw-semibold;
               color: $black;
               transition: $trans3;

               &:hover {
                   color: red;
               }
            }
        }
    }
}