.clrGuide {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    
    & span {
        position: relative;
        padding: 10px 15px;
        font-family: 'Arial';
        font-weight: $fw-bold;
        font-size: 13px;
        padding: 20px 24px;
        border-radius: 50%;
        text-align: center;
        
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        
        & span {
            position: absolute;
            top: 80%;
            left: 10%;
            transform: translate(-50%, -50%);
            padding: 3px 6.5px;
            border: solid 3px $white;
            font-size: 11px;
        }
    }
}

.bgTxt1,
.bgTxt2, 
.bgTxt3 {background-color: $white; color: black; border: solid 3px $clr-primary!important;}
.bgTxt4 {background-color: red; background-color: $clr-primary;}